body {
    font-family: Arial, Helvitica, sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, img {
    margin: 0;
    padding: 0;
}

#main {
    background: url("images/header_slice.png") repeat-x;
}

#main .container {
    background: url("images/header.jpg") no-repeat;
}

#logo {
    background: url("images/logo.png") no-repeat;
    width: 235px;
    height: 84px;
    float: left;
}

#logo h1 {
    text-indent: -9999px;
}

#header {
    padding-top: 25px;
}

#tagline {
    float: left;
}

#tagline h3 {
    font-size: 30px;
    color: #e4dfdf;
    padding-top: 10px;
    padding-left: 10px;
}

ul#menu {
    list-style: none;
}

ul#menu li a {
    font-size: 24px;
    color: #676666;
    text-decoration: none;
}

ul#menu li {
    float: left;
    padding-right: 50px;
}