body {
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    font: normal 14px/1.5 "Montserrat", "Helvetica Neue", "sans-serif";
    background: #cfd8dc;
    color: #37474f;
}

figure {
    background: whitesmoke;
    margin: 0 0 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

figcaption {
    padding: 20px;
}

img {
    display: block;
    max-height: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}